<section id="reconmonitor-view" class="view">

    <div class="wideScreen leftMenu" id="filterMenu">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Departments</a></li>
                <li><a href="#tab2" data-toggle="tab">Phases</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <ul type="none" data-template="filterDepartmentTemplate" data-bind="source: departments"></ul>
                </div>

                <div class="tab-pane" id="tab2">
                    <ul type="none" data-template="filterPhaseTemplate" data-bind="source: phases"></ul>
                </div>
            </div>
        </div>
    </div><!-- end of .leftMenu -->

    <p id="errorBlock"><img src="../Images/error.png" id="errorIcon" alt="ERROR:" /><span id="errorMessage"></span></p>

    <h5>Repair Orders</h5>

    <div class="filterPanel">
        <div class="row">
            <div class="col-xs-3">
                <p>Saved</p>
                <div class="dropbox inline">New Port Beach</div><span class="icon-pencil"></span>
            </div>
            <div class="col-xs-3 noWideScreen">
                <p>Departments</p>
                <!--<div class="dropbox inline">Front-Line Ready</div>-->
                <input data-role="dropdownlist" id=" departmentsdrop" data-bind="value: selectedDepartment, source: departments, events: { change: onDepartmentClicked }" data-text-field="departmentName" data-value-field="departmentID" />
            </div>
            <div class="col-xs-2 noWideScreen">
                <p>Phases</p>
                <!--<div class="dropbox inline">Phase Rework</div>-->
                <input data-role="dropdownlist" id=" phasesdrop" data-bind="value: selectedPhase, source: phases, events: { change: onPhaseClicked }" data-text-field="phaseName" data-value-field="phaseID" />
            </div>
            <div class="col-xs-5 pull-right">
                <p>Search</p>
                <input type="text" id="ddl" placeholder="Enter you Search" /><i class="icon-search" data-bind="click: startSearch"></i>

                <div id="customPopup" class="k-list-container k-popup k-group k-reset" style="display:none;"></div>
                <script id="menuTemplate" type="text/x-kendo-template">
                    <div class="advSearch">
                        <p>Advanced Search <i data-bind="click: closeSearch" class="icon-close pull-right"></i></p>
                        <form>
                            <label>
                                <select data-role="dropdownlist" data-value-field="locationId" data-text-field="locationName" data-bind="source: location.source, value: location.value"></select>
                                Location
                            </label>
                            <label><input placeholder="Enter a customer" />Customer</label>
                            <div class="errorMessege hidden">
                                <p class=" text-red">
                                    <i class="icon-warning"></i>Wrong Customer
                                </p>
                            </div>
                            <label><input placeholder="Enter a VIN" />VIN</label>
                            <div class="errorMessege hidden">
                                <p class=" text-red">
                                    <i class="icon-warning"></i>Wrong VIN
                                </p>
                            </div>
                            <label>
                                <select data-role="dropdownlist" data-value-field="id" data-text-field="text" data-bind="source: dates.source, value: dates.value, events: { change: dates.onChanged }"></select>
                                Timeframe
                            </label>
                            <label class="dateFrom" data-bind="class: {hidden: datesHidden}"><input class="dateInput" />From</label>
                            <label class="dateTo" data-bind="class: {hidden: datesHidden}"><input class="dateInput" />To</label>
                            <label class="inline"><input />\#RO</label><label class="inline"><input />\#Stock</label>
                            <label>
                                <input data-role="dropdownlist" data-value-field="id" data-text-field="text" data-bind="source: repairStatus.source, value: repairStatus.value" />
                                Repair Status
                            </label>
                            <label>
                                <select data-role="dropdownlist" data-value-field="orderTypeId" data-text-field="orderTypeName" data-option-label="All"data-bind="source: type.source, value: type.value"></select>
                                WO Type
                            </label>
                            <label><input placeholder="Enter a WO\#" />\#WO</label>
                            <div class="errorMessege hidden">
                                <p class=" text-red">
                                    <i class="icon-warning"></i>Wrong \#WO
                                </p>
                            </div>
                            <button class="btn-black" data-bind="click: startSearch" type="button">Search</button>
                            <label><input data-bind="value: searchName" placeholder="Search name" /><span style="cursor:pointer;text-decoration:underline;" data-bind="click: saveSearch" href="">Save</span></label>
                            <div class="errorMessege" data-bind="class: {hidden: searchCorrect}">
                                <p class=" text-red">
                                    <i class="icon-warning"></i>Wrong name
                                </p>
                            </div>
                        </form>
                    </div>
                </script>



            </div><!-- end of .col -->
        </div><!-- end of .row -->
    </div><!-- end of .filterPanel -->

    <p data-bind="visible: showRecordsCountWarning, text: errorMessageText" class="text-red"></p>

    <table id="roTable">
        <tr data-bind="visible: orders.length > 0 ">
            <th style="width: 151px;">Order / Type</th>
            <th>Customer / Vehicle / VIN#</th>
            <th style="width: 94px;">Stock# / RO#</th>
            <th>Amount</th>
            <th style="width: 191px;">Start Date / Target Date</th>
            <th style="width: 100px;">Active Phase</th>
            <th style="width: 118px;">Completed (%)</th>
            <th>Other</th>
        </tr>
        <tbody data-template="rowTemplate" data-bind="source: orders"></tbody>
    </table>

    <div id="pagingPanel">
        <table style="display: none;" data-bind="visible: paging.arrowButtonsVisible" class="paging direction-arrow"><tr><td><a href="#" data-bind="class: {disabled: paging.prevPageDisabled}, click: paging.prevArrowPageButtonClicked, disabled: paging.prevPageDisabled, visible: paging.pagingButtons.length > 0"><i class="icon-arrow-left2"></i></a></td></tr></table>
        <table id="pagingTable" class="paging">
            <tbody data-template="pagingTemplate" data-bind="source: paging.pagingButtons">
                <tr></tr>
            </tbody>
        </table>
        <table style="display: none;" data-bind="visible: paging.arrowButtonsVisible" class="paging direction-arrow"><tr><td><a href="#" data-bind="class: {disabled: paging.nextPageDisabled}, click: paging.nextArrowPageButtonClicked, disabled: paging.nextPageDisabled, visible: paging.pagingButtons.length > 0"><i class=" icon-arrow-right2"></i></a></td></tr></table>
    </div>

    <div class="modal fade" id="editOrderNotesModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" data-bind="text: editDescDialog.title"></h4>
                </div>
                <div class="modal-body">
                    <textarea id="orderNotesArea" data-bind="value: editDescDialog.content, disabled: editDescDialog.editingDisabled" style=""></textarea>
                </div>
                <!--<div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveOrderNotes" data-bind="click: saveNotes">Save changes</button>
                </div>-->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</section>


<!---------------TEMPLATES--------------->
<script id="pagingTemplate" type="text/x-kendo-template">
    <td>
        <a data-bind="invisible: isDots, click: onPageButtonClicked, class: {current: current}" href="\\#">#: number #</a>

        <a data-bind="visible: isDots, click: onPageButtonClicked, class: {dots: isDots}" href="\\#">...</a>

    </td>

</script>

<script id="departmentTemplate" type="text/x-kendo-template">

    <li style="text-align: left;">
        <div class="add-notes-item menu-item" data-bind="click: changeDepartment"><label data-bind="text: text"></label></div>
    </li>

</script>

<script id="filterDepartmentTemplate" type="text/x-kendo-template">
    <li data-bind="click: onDepartmentClicked, class: {active: isDepartmentSelected}">
        <a href="\\#">
            <input type="hidden" data-bind="value: departmentID" />
            <span data-bind="text: departmentName">
                <input type="hidden" data-bind="value: departmentID" />
            </span>
            <span class="pull-right" data-bind="text: ordersCount">
            </span>
        </a>
    </li>

</script>

<script id="filterPhaseTemplate" type="text/x-kendo-template">

    <li data-bind="click: onPhaseClicked, class: {active: isPhaseSelected}">
        <a href="\\#">
            <input type="hidden" data-bind="value: phaseID" />
            <span data-bind="text: phaseName">
                <input type="hidden" data-bind="value: phaseID" />
            </span>
            <span class="pull-right" data-bind="text: ordersCount">
            </span>
        </a>
    </li>

</script>

<script id="rowTemplate" type="text/x-kendo-template">
    <tr data-bind="class: {white: flagObj.isWhite, red: flagObj.isRed, orange: flagObj.isOrange, green: flagObj.isGreen, blue: flagObj.isBlue, pink: flagObj.isPurple}">
        <td>
            <input type="hidden" class="order-id" value="#:orderId#" />
            <p class="order-no" data-bind="click: displayRO" style="text-decoration: underline;cursor: pointer;"><strong data-bind="text: orderNo"></strong></p>
            #: orderTypeName #

            <div class="inline rel department">
                <i class="menu-trigger" data-bind="click: departmentMenuClicked, text: departmentName"></i>&nbsp;
                <i class="menu-trigger icon-arrow-down2 " data-bind="visible: departmentArrowVisible, click: departmentMenuClicked, class: {icon-arrow-up2: menuVisible}"></i>
                <div class="drop department-drop" data-bind="visible: departmentMenuVisible">


                    <ul type="none" data-template="departmentTemplate" data-bind="source: orderDepartments"></ul>


                </div>
            </div>

            <div class="priority-icon arrow " data-bind="style: {background: priorityColor}"><i data-bind="class: {icon-arrow-up: direction.up, icon-arrow-down: direction.down, hidden: direction.none}"></i></div>

            <div class="arrow dark" data-bind="click: onDescriptionClicked, visible: orderDescriptionDisplay">
                <i class="icon-comment"></i>
                <div class="dark box" data-bind="visible: orderDescriptionTextDisplay"><span class="order-notes" data-bind="text: orderDescriptionMini, click: descriptionBulbClicked"></span><a href="\\#" class="x">X</a></div>
            </div>
        </td>
        <td>
            <p><strong>#: clientName #</strong></p>
            #: make # #: model # #: color # #: year #
            <p><strong>#: vin #</strong></p>
        </td>
        <td>#: stockNo ? stockNo : '' # #: roNo ? ('/ ' + roNo) : '' #</td>
        <td><strong>#: orderAmount #</strong></td>
        <td>
            <p>
                <strong>#: orderDateF #</strong>
                <span class="date_arrow"></span>
                <strong>#: targetDateF #</strong>
            </p>
            <p>#: dateMarker #</p>
        </td>
        <td>#: phaseName #</td>
        <td style="text-align: left;">
            <div class="progressWrapper">
                <div class="progressBar" style="width: #: Number(completed).toFixed(0) #%; background-color: #: completedColor #"></div>
            </div>
            <span>#: Number(completed).toFixed(0) #%</span>
        </td>
        <td>
            <div class="inline rel">
                <i class="icon-list menu-trigger" data-bind="click: dropMenuClicked"></i>
                <i class="menu-trigger icon-arrow-down2" data-bind="click: dropMenuClicked, class: {icon-arrow-up2:menuVisible}"></i>
                <div class="drop" data-bind="visible: menuVisible">
                    <div class="add-notes-item" data-bind="click: addNotes, visible: isVendor"><i class="icon-comment"></i><label data-bind="text: notesMenuText"></label></div>
                    <div data-bind="visible: isVendor"><i class="icon-printer"></i>Print</div>
                    <div data-bind="visible: isVendor">
                        <i class="icon-flag"></i>Flag
                        <div class="pull-right">
                            <span data-bind="class: {active: flagObj.isWhite}"><a href="\\#" class="white" data-bind="click: changeFlag"></a></span>
                            <span data-bind="class: {active: flagObj.isRed}"><a href="\\#" class="red" data-bind="click: changeFlag"></a></span>
                            <span data-bind="class: {active: flagObj.isOrange}"><a href="\\#" class="orange" data-bind="click: changeFlag"></a></span>
                            <span data-bind="class: {active: flagObj.isGreen}"><a href="\\#" class="green" data-bind="click: changeFlag"></a></span>
                            <span data-bind="class: {active: flagObj.isBlue}"><a href="\\#" class="blue" data-bind="click: changeFlag"></a></span>
                            <span data-bind="class: {active: flagObj.isPurple}"><a href="\\#" class="purple" data-bind="click: changeFlag"></a></span>
                        </div>
                    </div>
                    <div>
                        <i class="icon-warning"></i>Priority
                        <div class="pull-right">
                            <span data-bind="class: {active: priority == 1}"><span class="icon-arrow-up text-red priority-button" data-bind="click: changePriority"></span></span>
                            <span data-bind="class: {active: priority == -1}"><span class="icon-arrow-down text-green priority-button" data-bind="click: changePriority"></span></span>
                            <span data-bind="class: {active: priority == 0}"><span class="icon-arrow-right text-orange priority-button" data-bind="click: changePriority"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </td>

    </tr>
</script>

