<div data-role="view">
    <header data-role="navbar" style="text-align:center">
        <a data-role="button" href="#:back" data-align="left" class="icon-arrow-left6"></a>
        <span data-role="view-title">Forgot Password</span>
    </header>
    <div class="loginPage">

        <p><strong>Forgot your password?</strong></p>
        <form>
            <label data-bind="class: { error: email.hasError }">
                <input id="email" data-bind="value: email.value" type="text" placeholder="E-mail" />
            </label>
            <div class="errorMessege" data-bind="visible: email.hasError">
                <p class=" text-red">
                    <i class="icon-warning"></i>Wrong E-mail address
                </p>
            </div>


            <input type="button" class="btn-black" data-bind="click: restorePassword" value="Submit" />
        </form>



    </div>
</div>