<div data-role="view" data-title="Home" id="home" data-after-show="home.afterShow" data-model="home">
    <header data-role="navbar">
        <div class="header">
            <a href="#app-drawer" data-rel="drawer" data-role="button" data-align="left" data-icon="details"></a>
                <div class="appTitle">
                    <p><strong>Recon</strong><span>Pro</span></p>
                    <p>Companion App</p>
                </div>
            <div class="pull-right user-info">
                <div class="login">
                    <a data-bind="click: logout"><i class="icon-logout"></i>Logout</a>
                </div>
            </div>
        </div>
    </header>

    <div class="content">
        <section class="main">
            <!-- internal pages are here -->
        </section>
    </div>
</div>